<br>

<div class="loginbox">
  <div id="loginFormContent">
    <form id="loginForm" action="">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control">
        <br>
        <%= link_to "Login", contracts_url, class:"btn btn-primary", style:"color: white" %>
    </form>
  </div>
</div>
