<!DOCTYPE html>
<html>
  <head>
    <title>GAProj</title>
      <%= csrf_meta_tag %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

      <div class="header">
        GAProj - Header
      </div>



    </div>

  <body>
    <%= yield %>
  </body>
</html>
